<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SentenceAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <SentenceAnalyzer.Properties.Settings>
            <setting name="AffirmativeUrl" serializeAs="String">
                <value>http://en.wikipedia.org/wiki/Affirmative_and_negative</value>
            </setting>
            <setting name="NegativeUrl" serializeAs="String">
                <value>http://en.wikipedia.org/wiki/Affirmative_and_negative</value>
            </setting>
            <setting name="InterrogativeUrl" serializeAs="String">
                <value>http://en.wikipedia.org/wiki/Interrogative</value>
            </setting>
            <setting name="SimplePresentUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/simplepresent.html</value>
            </setting>
            <setting name="PresentContinuousUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/presentcontinuous.html</value>
            </setting>
            <setting name="PresentPerfectUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/presentperfect.html</value>
            </setting>
            <setting name="PresentPerfectContinuousUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/presentperfectcontinuous.html</value>
            </setting>
            <setting name="SimplePastUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/simplepast.html</value>
            </setting>
            <setting name="PastContinuousUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/pastcontinuous.html</value>
            </setting>
            <setting name="PastPerfectUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/pastperfect.html</value>
            </setting>
            <setting name="PastPerfectContinuousUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/pastperfectcontinuous.html</value>
            </setting>
            <setting name="SimpleFutureUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/simplefuture.html</value>
            </setting>
            <setting name="FutureContinuousUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/futurecontinuous.html</value>
            </setting>
            <setting name="FuturePerfectUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/futureperfect.html</value>
            </setting>
            <setting name="FuturePerfectContinuousUrl" serializeAs="String">
                <value>http://www.englishpage.com/verbpage/futureperfectcontinuous.html</value>
            </setting>
            <setting name="WordsDictionaryPath" serializeAs="String">
                <value>..\..\..\..\Data\dictionary.xml</value>
            </setting>
        </SentenceAnalyzer.Properties.Settings>
    </userSettings>
</configuration>
